@model Ecole.Models.Matiere

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Matiere : @Html.DisplayFor(model => model.Intitule)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Enseignant.NomComplet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Enseignant.NomComplet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Grade.Promotion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Grade.Promotion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Intitule)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Intitule)
        </dd>
    </dl>

        <h4>Elèves inscrits</h4>

        <table class="table">
            <tr>
                <th>
                    Nom Complet
                </th>
                <th></th>
            </tr>

            @foreach (var eleve in Model.Grade.Eleves)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(x => eleve.NomComplet)
                    </td>
                    <td>
                        @Html.ActionLink("Modifier", "Edit", "Eleves", new { id = eleve.ID }, null) |
                        @Html.ActionLink("Details", "Details", "Eleves", new { id = eleve.ID }, null) |
                        @Html.ActionLink("Supprimer", "Delete", "Eleves", new { id = eleve.ID }, null)
                    </td>
                </tr>
            }

        </table>


</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
